# POSTTEST 4

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('Fifa 23 Players Data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 89 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Known As                     18539 non-null  object
 1   Full Name                    18539 non-null  object
 2   Overall                      18539 non-null  int64
 3   Potential                    18539 non-null  int64
 4   Value(in Euro)               18539 non-null  int64
 5   Positions Played             18539 non-null  object
 6   Best Position                18539 non-null  object
 7   Nationality                  18539 non-null  object
 8   Image Link                   18539 non-null  object
 9   Age                          18539 non-null  int64
 10  Height(in cm)                18539 non-null  int64
 11  Weight(in kg)                18539 non-null  int64
 12  TotalStats                   18539 non-null  int64
 13  BaseStats                    18539 non-null  int64
 14  Club Name                    18539 non-null  object
 15  Wage(in Euro)                18539 non-null  int64
 16  Release Clause               18539 non-null  int64
 17  Club Position                18539 non-null  object
 18  Contract Until               18539 non-null  object
 19  Club Jersey Number           18539 non-null  object
 20  Joined On                    18539 non-null  int64
 21  On Loan                      18539 non-null  object
 22  Preferred Foot               18539 non-null  object
 23  Weak Foot Rating             18539 non-null  int64
 24  Skill Moves                  18539 non-null  int64
 25  International Reputation     18539 non-null  int64
 26  National Team Name           18539 non-null  object
 27  National Team Image Link     18539 non-null  object
 28  National Team Position       18539 non-null  object
 29  National Team Jersey Number  18539 non-null  object
 30  Attacking Work Rate          18539 non-null  object
 31  Defensive Work Rate          18539 non-null  object
 32  Pace Total                   18539 non-null  int64
 33  Shooting Total               18539 non-null  int64
 34  Passing Total                18539 non-null  int64
 35  Dribbling Total              18539 non-null  int64
 36  Defending Total              18539 non-null  int64
 37  Physicality Total            18539 non-null  int64
 38  Crossing                     18539 non-null  int64
 39  Finishing                    18539 non-null  int64
 40  Heading Accuracy             18539 non-null  int64
 41  Short Passing                18539 non-null  int64
 42  Volleys                      18539 non-null  int64
 43  Dribbling                    18539 non-null  int64
 44  Curve                        18539 non-null  int64
 45  Freekick Accuracy            18539 non-null  int64
 46  LongPassing                  18539 non-null  int64
 47  BallControl                  18539 non-null  int64
 48  Acceleration                 18539 non-null  int64
 49  Sprint Speed                 18539 non-null  int64
 50  Agility                      18539 non-null  int64
 51  Reactions                    18539 non-null  int64
 52  Balance                      18539 non-null  int64
 53  Shot Power                   18539 non-null  int64
 54  Jumping                      18539 non-null  int64
 55  Stamina                      18539 non-null  int64
 56  Strength                     18539 non-null  int64
 57  Long Shots                   18539 non-null  int64
 58  Aggression                   18539 non-null  int64
 59  Interceptions                18539 non-null  int64
 60  Positioning                  18539 non-null  int64
 61  Vision                       18539 non-null  int64
 62  Penalties                    18539 non-null  int64
 63  Composure                    18539 non-null  int64
 64  Marking                      18539 non-null  int64
 65  Standing Tackle              18539 non-null  int64
 66  Sliding Tackle               18539 non-null  int64
 67  Goalkeeper Diving            18539 non-null  int64
 68  Goalkeeper Handling          18539 non-null  int64
 69   GoalkeeperKicking           18539 non-null  int64
 70  Goalkeeper Positioning       18539 non-null  int64
 71  Goalkeeper Reflexes          18539 non-null  int64
 72  ST Rating                    18539 non-null  int64
 73  LW Rating                    18539 non-null  int64
 74  LF Rating                    18539 non-null  int64
 75  CF Rating                    18539 non-null  int64
 76  RF Rating                    18539 non-null  int64
 77  RW Rating                    18539 non-null  int64
 78  CAM Rating                   18539 non-null  int64
 79  LM Rating                    18539 non-null  int64
 80  CM Rating                    18539 non-null  int64
 81  RM Rating                    18539 non-null  int64
 82  LWB Rating                   18539 non-null  int64
 83  CDM Rating                   18539 non-null  int64
 84  RWB Rating                   18539 non-null  int64
 85  LB Rating                    18539 non-null  int64
 86  CB Rating                    18539 non-null  int64
 87  RB Rating                    18539 non-null  int64
 88  GK Rating                    18539 non-null  int64
dtypes: int64(71), object(18)
memory usage: 12.6+ MB

In [3]:
df

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,Darren Collins,47,56,110000,"ST,RM",CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,...,50,44,50,41,38,41,40,36,40,15
18535,Yang Dejiang,Dejiang Yang,47,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,...,45,45,45,47,48,47,49,49,49,15
18536,L. Mullan,Liam Mullan,47,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,...,52,49,52,46,44,46,46,42,46,17
18537,D. McCallion,Daithí McCallion,47,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,...,33,33,33,44,42,44,47,49,47,15
18538,N. Rabha,Nabin Rabha,47,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,...,44,40,44,46,43,46,47,47,47,19

In [4]:
df.shape

(18539, 89)

### 1. Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (12977, 88)
Dimensi X_test (5562, 88)
Dimensi y_train (12977,)
Dimensi y_test (5562,)

### 2. Melakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler dengan mengcopy dataset terlebih dahulu

In [6]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["Overall"]]

normalization = min_max.fit_transform(dataCopy_normalization[["Overall"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["Overall_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(df_normalization["Overall_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   Overall  Overall_Normalization
0       91               1.000000
1       91               1.000000
2       91               1.000000
3       91               1.000000
4       91               1.000000
5       90               0.977273
6       90               0.977273
7       90               0.977273
8       90               0.977273
9       90               0.977273

### 3.Melakukan standarisasi pada dataset dengan membuat copy dataset terlebih dahulu

In [7]:
data_copy = df.copy()

attribute_to_standardize = 'Value(in Euro)'

scaler = StandardScaler()

data_copy[attribute_to_standardize] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

print("Atribut 'Value(in Euro) ' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(df[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'Value(in Euro) ' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

   Value(in Euro)
0        54000000
1        64000000
2        84000000
3       107500000
4       190500000
5       115500000
6        90000000
7        13500000
8        41000000
9        98000000

Sesudah Standarisasi:

   Value(in Euro)
0        6.696143
1        8.005914
2       10.625456
3       13.703418
4       24.574516
5       14.751234
6       11.411319
7        1.391571
8        4.993441
9       12.459135

### 4. Mengganti tipe data salah satu attribute angka

In [9]:
df['Value(in Euro)'] = df['Value(in Euro)'].astype('float64')

print("Tipe data Value(in Euro) sesudah di ubah :")
df.dtypes

Tipe data Value(in Euro) sesudah di ubah :

Known As           object
Full Name          object
Overall             int64
Potential           int64
Value(in Euro)    float64
                   ...
RWB Rating          int64
LB Rating           int64
CB Rating           int64
RB Rating           int64
GK Rating           int64
Length: 89, dtype: object

### 5. Lakukan Data cleaning pada data dengan nilai null dengan bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus

Lakukan pengecekan nilai null

In [10]:
df.isna().sum()

Known As          0
Full Name         0
Overall           0
Potential         0
Value(in Euro)    0
                 ..
RWB Rating        0
LB Rating         0
CB Rating         0
RB Rating         0
GK Rating         0
Length: 89, dtype: int64

Dikarenakan pada dataset tidak memiliki nilai null maka dibuat seperti diabawah

In [15]:
pd.options.mode.chained_assignment = None

df.Potential[[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]]=None;
df['Value(in Euro)'][[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]]=None;
df['Best Position'][[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]]=None;

df[df.isnull().any(axis=1)]

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
729,R. Pereyra,Roberto Pereyra,78,NaN,NaN,"CM,CAM",None,Argentina,https://cdn.sofifa.net/players/193/061/23_60.png,31,...,78,78,78,77,77,77,76,72,76,15
3512,B. Bianchi,Bruno Bianchi,72,NaN,NaN,CB,None,Argentina,https://cdn.sofifa.net/players/215/015/23_60.png,33,...,57,62,57,66,71,66,68,72,68,21
5677,B. Kapustka,Bartosz Kapustka,69,NaN,NaN,"CAM,CF",None,Poland,https://cdn.sofifa.net/players/216/003/23_60.png,25,...,71,67,71,59,55,59,56,49,56,19
6892,C. Araújo,César Araújo,68,NaN,NaN,"CDM,CM",None,Uruguay,https://cdn.sofifa.net/players/259/874/23_60.png,21,...,62,67,62,63,69,63,63,65,63,20
8931,J. van den Bergh,Johannes van den Bergh,66,NaN,NaN,"LWB,LM",None,Germany,https://cdn.sofifa.net/players/183/490/23_60.png,35,...,60,59,60,66,64,66,66,66,66,18
9485,S. Asan,Serkan Asan,66,NaN,NaN,"RB,RM",None,Turkey,https://cdn.sofifa.net/players/254/257/23_60.png,23,...,62,60,62,66,63,66,66,63,66,17
12047,A. Jaakkola,Anssi Jaakkola,63,NaN,NaN,GK,None,Finland,https://cdn.sofifa.net/players/157/734/23_60.png,35,...,30,33,30,28,33,28,28,30,28,63
14106,Marc Aguado,Marc Aguado Pallarés,61,NaN,NaN,"CM,CDM",None,Spain,https://cdn.sofifa.net/players/246/809/23_60.png,22,...,63,63,63,59,58,59,58,54,58,19
15271,T. Uchino,Takashi Uchino,60,NaN,NaN,RB,None,Japan,https://cdn.sofifa.net/players/268/100/23_60.png,21,...,54,50,54,60,56,60,60,59,60,16
17823,D. Bendrik,David Bendrik,53,NaN,NaN,"RWB,CM,CB",None,Sweden,https://cdn.sofifa.net/players/266/007/23_60.png,19,...,51,50,51,53,53,53,53,54,53,15

Data Bilangan Bulat dengan Strategi Median

In [16]:
strategi1 = SimpleImputer(strategy="median")

df["Potential"] = strategi1.fit_transform(df[["Potential"]])

df.isna().sum()

Known As           0
Full Name          0
Overall            0
Potential          0
Value(in Euro)    10
                  ..
RWB Rating         0
LB Rating          0
CB Rating          0
RB Rating          0
GK Rating          0
Length: 89, dtype: int64

In [18]:
print(df.Potential[[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]])

729      71.0
3512     71.0
6892     71.0
5677     71.0
8931     71.0
9485     71.0
12047    71.0
14106    71.0
15271    71.0
17823    71.0
Name: Potential, dtype: float64

Data Bilangan Desimal dengan Strategi Mean

In [19]:
strategi2 = SimpleImputer(strategy="mean")

df["Value(in Euro)"] = strategi2.fit_transform(df[["Value(in Euro)"]])

df.isna().sum()

Known As          0
Full Name         0
Overall           0
Potential         0
Value(in Euro)    0
                 ..
RWB Rating        0
LB Rating         0
CB Rating         0
RB Rating         0
GK Rating         0
Length: 89, dtype: int64

In [21]:
print(df['Value(in Euro)'][[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]])

729      2.875920e+06
3512     2.875920e+06
6892     2.875920e+06
5677     2.875920e+06
8931     2.875920e+06
9485     2.875920e+06
12047    2.875920e+06
14106    2.875920e+06
15271    2.875920e+06
17823    2.875920e+06
Name: Value(in Euro), dtype: float64

Data Tulisan dengan Strategi Modus

In [22]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

df["Best Position"] = strategi3.fit_transform(df[["Best Position"]])

df.isna().sum()

Known As          0
Full Name         0
Overall           0
Potential         0
Value(in Euro)    0
                 ..
RWB Rating        0
LB Rating         0
CB Rating         0
RB Rating         0
GK Rating         0
Length: 89, dtype: int64

In [23]:
print(df['Best Position'][[729,3512,6892,5677,8931,9485,12047,14106,15271,17823]])

729      CB
3512     CB
6892     CB
5677     CB
8931     CB
9485     CB
12047    CB
14106    CB
15271    CB
17823    CB
Name: Best Position, dtype: object

### 5. Lakukan Data cleaning pada data dengan nilai duplikat.

In [24]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

119

In [25]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

### 7. Melakukan one hot encoding pada dataset

In [26]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["Preferred Foot"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

C:\Users\NITRO 5\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,0,1
0,L. Messi,Lionel Messi,91,91.0,54000000.0,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,67,66,67,62,53,62,22,1.0,0.0
1,K. Benzema,Karim Benzema,91,91.0,64000000.0,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,67,67,67,63,58,63,21,0.0,1.0
2,R. Lewandowski,Robert Lewandowski,91,91.0,84000000.0,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,67,69,67,64,63,64,22,0.0,1.0
3,K. De Bruyne,Kevin De Bruyne,91,91.0,107500000.0,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,82,82,82,78,72,78,24,0.0,1.0
4,K. Mbappé,Kylian Mbappé,91,95.0,190500000.0,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,70,66,70,66,57,66,21,0.0,1.0